*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins", sans-serif;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

img {
    display: block;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

button {
    display: block;
    cursor: pointer;
    border: none;
}

/*#region header*/

.header {}

.container {
    width: 1150px;
    padding: 0 20px;
    margin: 0 auto;
}

.header-container {
    display: flex;
}

.nav-header {
    display: flex;
    gap: 237px;
}

.logo-header {
    display: flex;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
    gap: 16px;
    align-items: center;
}

.logo-image-header {}

.list-header {
    display: flex;
    gap: 30px;
    margin-right: 73px;
}

.item-header {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.item-header-one .link-header {
    font-weight: 600;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.link-header {
    padding-top: 26px;
    padding-bottom: 26px;
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #22343d;
}

.list-button-header {
    display: flex;
    gap: 21px;
}

.item-link-header {
    padding-top: 19px;
    padding-bottom: 19px;
}

.button-header-one {
    width: 105px;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #173a56;
    border: 1px solid #bcd0e5;
    border-radius: 4px;

}

.button-header-two {
    width: 113px;
    height: 42px;
    font-weight: 600;
    font-size: 16px;
    color: #fff;
    border-radius: 4px;
    background-color: #02897a;

}

/*#endregion header*/

/*#region price*/

.price {
    padding-top: 50px;
    padding-bottom: 150px;
}

.price-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
    gap: 24px;
}

.price-title-one {
    font-weight: 600;
    font-size: 24px;
    color: #22343d;
   
}

.price-title {
font-weight: 700;
    font-size: 40px;
    text-align: center;
    color: #22343d;
}


.price-text {
font-weight: 500;
    font-size: 16px;
    text-align: center;
    color: #22343d;
    margin-bottom: 25px;
}

.price-list {
    display: flex;
    gap: 72px;

}

.price-list-item {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.price-item {
    border-radius: 8px;
    width: 322px;
    height: 456px;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #fff;
    padding: 32px 72px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.price-item-two {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
    background-color: #02897a;
    color: #ffffff;
}

.price-item-two>.price-title-item {
    color: #fff;
}

.price-item-two>.price-title-item {
    color: #fff;
}

.price-item-two>.price-text-item-one {
    color: #fff;
}

.price-item-two {
    color: #fff;
}

.price-item-two>.bottom-price {
    background-color: #fff;
    color: #02897a;
}

.price-text-item-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.38;
    letter-spacing: 0.01em;
    color: #22343d;
    font-family: "Montserrat", sans-serif;
}

.price-title-item {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.67;
    color: #22343d;
    margin-bottom: 8px;
}

.price-text-item-one {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 2.5;
    color: #22343d;
}

.div-price {
    display: flex;
    align-items: center;
    gap: 10px;
}

.price-text-item-two {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.1875;
    letter-spacing: 0.01em;
    color: #afafaf;
}

.list-price {
    color: #fff;
}

.span-one {
    font-weight: 700;
    font-size: 76px;
    line-height: 1.31579;
    letter-spacing: 0em;
    text-align: center;
    color: #02897a;
    font-family: "Montserrat", sans-serif;
}

.span-two {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.25;
    letter-spacing: 0em;
    color: #02897a;
    font-family: "Montserrat", sans-serif;
}

.bottom-price {
    margin-top: 30px;
    border-radius: 8px;
    width: 139px;
    height: 44px;
    background-color: #02897a;
    font-weight: 600;
    font-size: 18px;
    color: #fff;
    padding: 11px 18px;
}

.price-span {
    color: #fff;
}

/*#endregion price*/

/*#region enterprise*/
.enterprise {
    margin: 150px auto;
}

.enterprise-container {
    border-radius: 32px;
    width: 968px;
    height: 345px;
    background-color: #02897a;
    display: flex;

}

.enterprise-div {
    padding: 49px 0 56px 51px;
}

.enterprise-title {
    font-weight: 600;
    font-size: 32px;
    line-height: 1.514;
    color: #fff;
    width: 510px;
    margin-bottom: 59px;
}

.enterprise-bnt {
    border-radius: 8px;
    width: 150px;
    height: 50px;
    background-color: #fff;
}

.enterprise-img {
    padding: 10px;
    width: 361px;
    height: 341px;
}

/*#endregion enterprise*/

/*#region enterprise two*/

.enterprise-two {
    padding-top: 52px;
    padding-bottom: 52px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.enterprise-two-text {
    margin-bottom: 16px;
    font-weight: 600;
        font-size: 24px;
        color: #22343d;
}

.enterprise-two-title {
    margin-bottom: 8px;
    font-weight: 700;
        font-size: 34px;
        color: #22343d;
}

.entr-two-text {
    margin-bottom: 32px;
    font-weight: 400;
        font-size: 18px;
        color: #22343d;
}

.enterprise-two-btn {
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
        font-size: 18px;
        color: #fff;
        border-radius: 8px;
            width: 224px;
            height: 44px;
            background-color: #02897a;
}


/*#endregion enterprise two*/

/*#region product*/

.product {}

.product-container {
    padding-top: 150px;
    padding-bottom: 150px;
}

.product-title {
    font-weight: 700;
        font-size: 34px;
        color: #22343d;
        margin: 0 auto;
        text-align: center;
}

.product-img {}

.product-list {}

.product-item {}

.product-list-img {}

.product-item-title {}

.product-list-text {}

/*#endregion product*/

/*#region question*/


/*#endregion question*/

/*#region footer*/

.footer {}

.footer-container {
    margin-top: 100px;

}

.footer-container-impotant {
    display: flex;


}

.footer-container-one {
    gap: 18px;
}

.link-footer {
    display: flex;
    gap: 16px;
    margin-bottom: 22px;
    font-weight: 700;
    font-size: 30px;
    line-height: 0.93;
    color: #173a56;
}

.list-icon {
    display: flex;
    gap: 16px;
}

.item-link-footer {
    width: 40px;
    height: 40px;
    border-radius: 100%;
    fill: #edfffc;
}

.link-footer-item {
    stroke-width: 2px;
    stroke: #02897a;
}

.footer-container-two {
    margin-left: 172px;
}

.footer-list {}

.footer-item {}

.footer-link-item {
    font-weight: 400;
    font-size: 16px;
    line-height: 2.1875;
    color: #22343d;
}

.footer-text {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.5;
    color: #22343d;
    margin-bottom: 8px;
}

.list-icon {}

.footer-container-three {
    margin-left: 129px;
}

.footer-container-four {
    margin-left: 83px;
    width: 325px;
    height: 199px;
}

.footer-form {
    margin-top: 30px;
    margin-bottom: 25px;
}

.label-footer {}

.user-phone {
    fill: #02897a;
    width: 100%;
    height: 48px;
    border: 1px solid #bcd0e5;
    border-radius: 4px;
    background-color: #fff;
    padding-left: 42px;
}

.user-phone::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.75;
    color: #02897a;
}

.button-footer {
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    width: 131px;
    height: 39px;
    background: #02897a;
}

.icon-div-footer {
    position: relative;

}

.icon-footer-form {
    fill: #02897a;
    position: absolute;
    top: 50%;
    left: 13px;
    transform: translateY(-50%);
}

.footer-text-end {
    margin: 10px auto 40px auto;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    color: #22343d;
    text-align: center;
}

/*#endregion footer*/